<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      label {
        margin-bottom: 3px;
      }
      input {
        margin: 5px 0px;
        display: block;
        width: 100%;
        padding: 5px 5px;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <div class="form">
        <h2>Reset Password for <%= email %></h2>
        <form action="" method="POST">
          <label for="password">Password</label>
          <input
            placeholder="at least length should be 6"
            minlength="6"
            type="password"
            id="password"
            name="password"
            required
          />
          <label for="confirmPassword">Confirm Password</label>
          <input
            minlength="6"
            type="password"
            id="confirmPassword"
            name="password2"
            placeholder="at least length should be 6"
            required
          />
          <br />
          <input type="submit" value="Reset Password" />
        </form>
      </div>
    </div>
  </body>
</html>
